* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


.task-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); 
  width: 100vw; 
  padding: 20px; 
  box-sizing: border-box;
  margin: 0 auto; 
  background-color: #f9f9f9; 
  margin: 0.4em;
  margin-top: 8em;
}


.task-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 23vh;
  font-style: italic;
  min-width: 250px; 
  width: 100%; 
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.task-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-card-header h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  margin: 0;
  flex-grow: 1;
  font-style: italic;
}

.task-card-header h3.completed {
  text-decoration: line-through;
  color: gray;
}

/* Checkbox */
.task-card-header input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #4caf50; 
}


.task-card-footer {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}


.task-status {
  font-size:1em;
  font-weight: bold;
  border: 1px solid white;
  padding: 10px;
  background-color: rgb(223, 223, 161);
  border-radius: 10px;
}

.task-status.pending {
  color: #f44336; 
}

.task-status.completed {
  color: #4caf50;
}

/* Delete Button */
button {
  padding: 8px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: rgb(161, 93, 161); 
  color: #fff;
}

.delete-button:hover {
  background-color: #e53935; 
}

/* Responsive design */
@media (max-width: 1024px) {
  .task-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  }
}

@media (max-width: 600px) {
  .task-list {
    grid-template-columns: 1fr; 
  }
}
