body {
  font-family: "Inter", "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* This is fine for vertical alignment */
  flex-direction: column;
  min-height: 100%; /* Use 100% instead of 100vh */
  min-width: 100%;
}

